aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.8.0
argcomplete==3.6.0
asttokens==1.2.0
attrs==25.1.0
boto3==1.37.13
botocore==1.37.13
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
cohere==5.14.0
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.18
distro==1.9.0
docstring_parser==0.16
eval_type_backport==0.2.2
exceptiongroup==1.2.1
executing==2.0.1
fastavro==1.10.0
filelock==3.18.0
frozenlist==1.5.0
fsspec==2025.3.0
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-aiplatform==1.83.0
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
griffe==1.6.0
groq==0.19.0
grpc-google-iam-v1==0.14.1
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
hikari==2.1.1
hikari-lightbulb==2.3.5.post1
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.3
idna==3.10
importlib_metadata==6.11.0
ipykernel==6.29.5
ipython==8.23.1
ipython_pygments_lexers==0.0.5
jedi==0.19.1
jiter==0.9.0
jmespath==1.0.1
jsonpath-python==1.0.6
jupyter_client==8.6.1
jupyter_core==5.7.2
logfire==3.8.1
logfire-api==3.8.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistralai==1.5.1
multidict==6.1.0
mypy-extensions==1.0.0
nest_asyncio==1.6.0
numpy==2.2.3
openai==1.66.3
opentelemetry-api==1.31.0
opentelemetry-exporter-otlp-proto-common==1.31.0
opentelemetry-exporter-otlp-proto-http==1.31.0
opentelemetry-instrumentation==0.52b0
opentelemetry-proto==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
packaging==24.0
parso==0.8.4
pickleshare==0.7.5
pillow==11.1.0
platformdirs==4.2.0
prompt_toolkit==3.0.48
propcache==0.3.0
proto-plus==1.26.1
protobuf==5.29.3
psutil==5.9.8
pure_eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic-ai==0.0.40
pydantic-ai-slim==0.0.40
pydantic-graph==0.0.40
pydantic_core==2.27.2
Pygments==2.17.2
python-dateutil==2.9.0
python-dotenv==1.0.1
pywin32==308; platform_system == "Windows"
PyYAML==6.0.2
pyzmq==26.1.0
requests==2.32.3
rich==13.9.4
rsa==4.9
s3transfer==0.11.4
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
sniffio==1.3.1
stack_data==0.6.2
tokenizers==0.21.1
tornado==6.4
tqdm==4.67.1
traitlets==5.14.2
types-requests==2.32.0.20250306
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.10.1
urllib3==2.3.0
wcwidth==0.2.13
wheel==0.45.1
wrapt==1.17.2
yarl==1.18.3
zipp==3.18.0
